@import "../tools/mixins";

// Variables root
// =============
:root {
  --color-dark: #212121;
  --color: #4F4F4F;
  --color-light: #828282;
  --background: #F7F7F7;
  --background-light: #FFFFFF;
  --contrast: #B70217;
  --border: #E5E5E5;
  --transparent-red: #{rgba(#B70217, 0.4)};
  --gap: 20px;
  --space: 10px;
}
// Dark mode
// =============
@include dark {
  --color-dark: #ffffff;
  --color: #B4B4B4;
  --color-light: #E0E0E0;
  --background: #242731;
  --background-light: #323540;
  --contrast: #B70217;
  --border: #1B1C1F;
}
